<%- include('../partials/header') %>

<main>
  <h1>Dealers</h1>

  <p>
    Sort by:
    <a href="/dealers?sort=name">Name</a> |
    <a href="/dealers?sort=location">Location</a>
  </p>

  <ul>
    <% dealers.forEach(dealer => { %>
      <li>
        <a href="/dealers/<%= dealer.slug %>">
          <%= dealer.name %>
        </a>
        - <%= dealer.location %>
      </li>
    <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>